<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookies</title>
    <link rel="stylesheet" href="../css/style__cookies.css">
</head>
<body>
    <div id="cookies">
        <div class="container">
            <div class="sub__container">
                <div class="cookies">
                    <p>This website uses cookies to ensure you get the best experience on our website. <a href="">More info.</a></p>
                    <button id="cookies__btn">Agreed!</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../scripts/js__cookie.js"></script>
</body>
</html>